@{
    ViewData["Title"] = "Q&A Platform";
}


<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Q&A Platform</h1>
        <div class="row mt-5 flex-row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registration</h5>
                        <p class="card-text">Sign up as a teacher For Answering or a student to ask  questions.</p>
                
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-block">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p class="card-text">Already registered? Log in here to access the platform.</p>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-block">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questions</h5>
                        <p class="card-text">Explore questions posted  students and answered by teacher.</p>
                        <a asp-action="QuestionList" asp-controller="Question" class="btn btn-primary btn-block">Browse Questions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</body>

