<!DOCTYPE html>
<html>
<head>
    <title>Teacher Portal</title>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            height: 200px;
        }
    </style>
</head>
<body>


    <div class="container">
        <h2 class="text-center mb-4">Student Portal</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recent Questions</h5>
                        <p class="card-text">View recently asked questions</p>
                        <a href="@Url.Action("Recent", "Question")" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Questions</h5>
                        <p class="card-text">View all questions</p>
                        <a href="@Url.Action("Index", "Question") class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Answers</h5>
                        <p class="card-text">Answered by you</p>
                        <a href="@Url.Action("Index", "Answer")" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Answers</h5>
                        <p class="card-text">View all answers</p>
                        <a href="@Url.Action("Index", "Answer")" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
